<title>My application deployed automatically</title>
  <h1>Hello to my application!</h1>
  <h1>It computes that whether input1 includes all numbers in input2 and at the same time whether all strings in input3 has a substr as only one string input4</h1>
    Result is {{result}}

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
